[
	{mosaic_couchdb, [
		{identifier, "0000000000000000000000000000000000000000"},
		{group, "f867c1725a2845f4a68a1165f430fdaa10b8aa162a5a4"}]},
	
	{couch, [
		{ini, ["./lib/couch/priv/default.ini", "./data/run/local.ini"]}]},
	
	{mosaic_component, [
		{callbacks, mosaic_couchdb_callbacks},
		{harness_input_descriptor, undefined},
		{harness_output_descriptor, undefined}]},
	
	{kernel, [
		{error_logger, tty}]},
	
	{sasl, [
		{sasl_error_logger, tty},
		{errlog_type, error},
		{utc_log, true}]},
	
	{os_mon, [
		{start_cpu_sup, true},
		{start_memsup, true},
		{start_disksup, true},
		{start_os_sup, true}]}
].
